{% extends 'layout.njk' %}

{% block head %}
  <script type="module">
    import {start} from '{{ modulePath }}';
    start();
  </script>
{% endblock %}

{% block content %}
  <h1>Important Image</h1>
  <img
    important
    src="/test/img/square.png?delay=1000"
    alt="Square"
    loading="lazy"
/>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sapiente
    reiciendis iste velit laboriosam cupiditate, perferendis molestias
    officia non delectus voluptates nulla voluptatibus repellat suscipit
    deleniti maiores maxime. Quas, ratione?
  </p>
  <!-- Include a tall element to ensure scrolling is possible. -->
  <div style="height: 100vh"></div>
  <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit.</footer>
{% endblock %}