{% extends 'layout.njk' %}

{% block head %}
  <script>
    new PerformanceObserver(list => {
      const entries = list.getEntries();
      const entry = entries[entries.length - 1];

      // Log for easier manual testing.
      console.log(entry);

      // Test sending the metric to an analytics endpoint.
      navigator.sendBeacon(`/collect`, JSON.stringify(entry));
    }).observe({type: 'largest-contentful-paint', buffered: true});
  </script>
{% endblock %}

{% block content %}
  <h1 important="true">Important Element is LCP Element</h1>
  <img
    src="/test/img/square.png?delay=1000"
    alt="Square"
/>
  <p>
    Lorem
  </p>
  <!-- Include a tall element to ensure scrolling is possible. -->
  <div style="height: 100vh"></div>
  <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit.</footer>
  
  <script type="module">
    import {getFirstImportantPaint} from '{{ modulePath }}';

    getFirstImportantPaint((fip) => {
      // Log for easier manual testing.
      console.log(fip);

      // Test sending the metric to an analytics endpoint.
      navigator.sendBeacon(`/collect`, JSON.stringify(fip));
    });
  </script>
{% endblock %}