{% extends 'layout.njk' %}

{% block head %}
  <script type="module">
    import {start} from '{{ modulePath }}';
    start();
  </script>
{% endblock %}

{% block content %}
  <h1>Multiple Important Elements</h1>
  <img
    important
    src="/test/img/square.png?delay=1000"
    alt="Square"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sapiente
    reiciendis iste velit laboriosam cupiditate, perferendis molestias
    officia non delectus voluptates nulla voluptatibus repellat suscipit
    deleniti maiores maxime. Quas, ratione?
  </p>
  <div important class="container">
    <strong>Important container</strong>
    <hr/>
    <ul class="list">
      <li class="item">4</li>
      <li class="item">1</li>
      <li class="item">0</li>
      <li class="item">9</li>
      <li class="item">4</li>
      <li class="item">1</li>
      <li class="item">6</li>
    </ul>
  </div>
  <div important class="container">
    <strong>Another important container</strong>
    <hr/>
    <ul class="list">
      <li class="item">4</li>
      <li class="item">2</li>
      <li class="item">3</li>
      <li class="item">1</li>
      <li class="item">1</li>
      <li class="item">9</li>
      <li class="item">4</li>
      <li class="item">9</li>
      <li class="item">8</li>
      <li class="item">8</li>
      <li class="item">8</li>
      <li class="item">4</li>
      <li class="item">2</li>
      <li class="item">0</li>
      <li class="item">4</li>
      <li class="item">0</li>
      <li class="item">6</li>
      <li class="item">7</li>
      <li class="item">5</li>
      <li class="item">3</li>
      <li class="item">5</li>
      <li class="item">9</li>
      <li class="item">2</li>
      <li class="item">6</li>
      <li class="item">1</li>
      <li class="item">9</li>
      <li class="item">0</li>
      <li class="item">9</li>
      <li class="item">0</li>
      <li class="item">7</li>
    </ul>
  </div>

  <!-- Include a tall element to ensure scrolling is possible. -->
  <div style="height: 100vh"></div>
  <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit.</footer>
{% endblock %}
