{% extends 'layout.njk' %}

{% block content %}
  <h1>Important Image</h1>
  <img
    critical="true"
    src="/test/img/square.png?delay=1000"
    alt="Square"
/>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sapiente
    reiciendis iste velit laboriosam cupiditate, perferendis molestias
    officia non delectus voluptates nulla voluptatibus repellat suscipit
    deleniti maiores maxime. Quas, ratione?
  </p>
  <!-- Include a tall element to ensure scrolling is possible. -->
  <div style="height: 100vh"></div>
  <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit.</footer>

  <script type="module">
    import {getFirstImportantPaint} from '{{ modulePath }}';

    getFirstImportantPaint((fip) => {
      // Log for easier manual testing.
      console.log(fip);

      // Test sending the metric to an analytics endpoint.
      navigator.sendBeacon(`/collect`, JSON.stringify(fip));
    }, { markName: "first-critical-paint", selector: "[critical]" });
  </script>
{% endblock %}