{% extends 'layout.njk' %}

{% block head %}
  <script type="module">
    import {start} from '{{ modulePath }}';
    start({ markName: "hero-image", selector: "img.hero" });
  </script>
{% endblock %}

{% block content %}
  <h1>Important Image</h1>
  <img
    class="hero"
    src="/test/img/square.png?delay=1000"
    alt="Square"
/>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sapiente
    reiciendis iste velit laboriosam cupiditate, perferendis molestias
    officia non delectus voluptates nulla voluptatibus repellat suscipit
    deleniti maiores maxime. Quas, ratione?
  </p>
  <!-- Include a tall element to ensure scrolling is possible. -->
  <div style="height: 100vh"></div>
  <footer>Lorem ipsum dolor sit amet consectetur adipisicing elit.</footer>

  <script>
    new PerformanceObserver((entryList) => {
      for (const entry of entryList.getEntries()) {
        if (entry.name === "hero-image") {
          console.log(entry);

          const {name, startTime, detail} = entry;
          const {id, nodeName, src} = detail;

          // Test sending the metric to an analytics endpoint.
          navigator.sendBeacon(`/collect`, JSON.stringify({entryType: "hero-image", renderTime: startTime, id, nodeName, url: src}));
        }
      }
    }).observe({ type: "mark", buffered: true});
  </script>
{% endblock %}