<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script>window.TEST_CATEGORY=new URLSearchParams(window.location.search).get("category")||"B"</script>
    <script>window.TEST_THROTTLE=new URLSearchParams(window.location.search).get("throttle")||"";</script>
    <script>window.TEST_ID=Date.now()</script>
    <script src="/test/scripts/main.js"></script>
    <link rel="stylesheet" href="/test/css/style.css">
    <link rel="stylesheet" href="/test/css/sample.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="/test/scripts/script.js?a" async></script>
    <script src="/test/scripts/script.js?b" defer></script>
    <meta property="og:title" content="Test">
    <meta name="twitter:title" content="Test">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.">    
    <meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.">
    <meta name="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.">
    <meta name="template_type" content="homepage">
    <meta property="og:type" content="website">
    <meta name="type" content="section">
    <meta name="meta-section" content="homepage">
    <meta name="meta-branding" content="">
    <meta name="theme" content="test">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="favicon" href="/test/img/favicon.ico">
    <link href="/test/img/apple-touch-icon.png" rel="apple-touch-icon" type="image/png">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="/test/img/logo.png" alt="Logo" class="logo">
          </a>
      </div>
      <nav>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="title" important elementTiming="title">Lorem ipsum dolor sit amet</h1>
      <div class="hero">
        <picture>
          <source srcset="/test/img/hero.webp" type="image/webp">
          <img src="/test/img/hero.jpg" alt="Hero" decode="async">
        </picture>
      </div>
      <div class="section">
        <ul class="list"> 
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
        </ul>
      </div>
      <div class="video">
        <video autoplay muted playsinline loop>
          <source type="video/webm" src="/test/img/video-1920.webm">
          <source type="video/mp4" src="/test/img/video-1920.mp4">
        </video>
      </div>
      <div class="section">
        <ul class="list"> 
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
        </ul>
      </div>
      <div class="section">
        <ul class="list"> 
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
           <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
        </ul>
      </div>
      <div class="section">
        <ul class="list"> 
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
          <li class="item">
            <h3 class="itemTitle">
              <a href="#">Lorem ipsum dolor sit amet</a>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam no.
            </p>
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <span>Copyright 2023. All rights reserved.</span>
    </footer>
    <script>
      new PerformanceObserver((entryList) => {
        const entries = entryList.getEntries();
        const entry = entries[entries.length - 1];
        console.log(entry);

        const { renderTime, entryType, element, url } = entry;
        const { id, nodeName } = element;

        // send the metric to an analytics endpoint.
        navigator.sendBeacon(
          `/collect`,
          JSON.stringify({
            test_category: window.TEST_CATEGORY,
            test_throttle: window.TEST_THROTTLE,
            test_id: window.TEST_ID,
            entryType,
            renderTime,
            id,
            nodeName,
            url,
          })
        );
      }).observe({ type: "largest-contentful-paint", buffered: true });

      new PerformanceObserver((entryList) => {
        for (const entry of entryList.getEntries()) {
          if (entry.name === "first-important-paint") {
            console.log(entry);

            const { name, startTime, detail } = entry;
            const { id, nodeName, src } = detail;

            // send the metric to an analytics endpoint.
            navigator.sendBeacon(
              `/collect`,
              JSON.stringify({
                test_category: window.TEST_CATEGORY,
                test_throttle: window.TEST_THROTTLE,
                test_id: window.TEST_ID,
                entryType: "first-important-paint",
                renderTime: startTime,
                id,
                nodeName,
                url: src,
              })
            );
          }
        }
      }).observe({ type: "mark", buffered: true });

      new PerformanceObserver((list) => {
        const entries = list.getEntries();
        const entry = entries[entries.length - 1];
        console.log(entry);
        
        const { renderTime, entryType, element, url } = entry;
        const { id, nodeName } = element;

        // Test sending the metric to an analytics endpoint.
        navigator.sendBeacon(
          `/collect`,
          JSON.stringify({
            test_category: window.TEST_CATEGORY,
            test_throttle: window.TEST_THROTTLE,
            test_id: window.TEST_ID,
            entryType,
            renderTime,
            id,
            nodeName,
            url,
          })
        );
      }).observe({ type: "element", buffered: true });
    </script>
  </body>
</html